.app-body {
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
	min-height: 80vh;
}

.inputSection {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;

	input {
		width: 250px;
		padding: 12px 20px 12px 36px;
		margin: 8px 0;
		box-sizing: border-box;
		border-radius: 4px;
		background: url(https://img.icons8.com/color/search) no-repeat scroll 7px
			7px;
		background-size: 25px;
		background-color: white;

		&:focus {
			outline: none;
		}
		&:hover {
			padding: 13px 21px 13px 37px;
			border: 1px solid $action-pinky;
		}
	}

	select {
		width: 150px;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border-radius: 4px;
		&:focus {
			outline: none;
		}
		&:hover {
			border: 1px solid $action-pinky;
		}
	}
	.createButton {
		margin: 8px 0;
		padding: 0 26px;
		background: $action-pinky;
		box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
			inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
			inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
		border: none;
		color: white;
		&:hover {
			box-shadow: none;
		}
	}

	.submitSearchbar {
		display: none;
	}
}

.toDoSection {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	margin-bottom: 36px;
	padding: 16px;
	border-radius: 6px;
}
