$fc: rgb(89, 0, 255);
// fonts

$main-font: "Nunito", sans-serif;
$headers-font: "Rubik", sans-serif;

// colors
$main-background: #2f2fa2;
$background-darker: #242582;
$background-footer: #e5e5e5;
$dirt: #99738e;
$dirt-darker: #553d67;
$action-pinky: #f64c72;
$orange: #ff851b;
